.grid-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "whatch"
        "hike"
        "word"
        "rain" ;
    grid-gap: 2em;
    margin: 0 auto;
}

@media screen and (min-width: 1080px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "whatch hike " 
            "word rain";
    }
}

.projectsIntro{
    margin: 2% 14%;
    /* color: rgb(255, 255, 255); */
    font-family: 'Libre Franklin', sans-serif;
}

.images{
    width: 100%;
    border: black 2px solid;
    box-shadow: 3px 2px 2px 3px rgb(83, 83, 83);
    border-radius: 4px;
    margin: 0 auto;
}


.module {
    align-items: center;
    /* justify-content: space-around; */
    margin: 2em auto;
    height: 37vh;
    width: 80%;
}


.whatch{
    grid-area: whatch
}

.rain{

    grid-area: rain
}

.hike{
    grid-area: hike

}

.word{
    grid-area: word
}