.grid-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(4, .2fr .7fr);
    grid-template-areas:
        "whatch"
        "infoWhatch"
        "hike"
        "infoHike"
        "word"
        "infoWord"
        "rain" 
        "infoRain";
    margin: 5% auto  0;
}

.projectsIntro{
    text-align: center;
    margin: 2% 14%;
    color: #253c66;
    font-family: 'Quicksand', sans-serif;
}

.images{
    width: 100%;
    border: black 2px solid;
    box-shadow: 3px 2px 2px 3px rgb(83, 83, 83);
    border-radius: 4px;
    margin: 0 auto;
}

.images, .module{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.module {
    margin: 0 auto;
    height: 30vh;
    width: 100%;
    padding-top: 10%;
}

.info{
    padding-left: 10%;
}
.whatch{
    grid-area: whatch
}

.infoWhatch{
    grid-area: infoWhatch
}

.rain{
    width: 50%;
    grid-area: rain
}

.infoRain{
    grid-area: infoRain
}

.hike{
    grid-area: hike
}

.infoHike{
    grid-area:  infoHike
}

.word{
    grid-area: word
}

.infoWord{
    grid-area: infoWord
}

li{
    list-style-type: circle;
    width:  100%;

}

@media screen and (min-width: 650px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
            "whatch infoWhatch" 
            "infoHike hike"
            "word infoWord"
            "infoRain rain";
        grid-gap: 1em;
        max-width: 90%;
    }

    .module {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        height: 50%;
    }
}

@media screen and (min-width: 1080px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas:
            "whatch infoWhatch" 
            "infoHike hike"
            "word infoWord"
            "infoRain rain";
        grid-gap: 1em;
        grid-column-gap: 1em;
    }

    .module{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}