.homepage{
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5em;
    margin: 7% 14%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 
                        "name"
                        "myFace"
                        "description";
}

.name{
    font-size: 4rem;
    margin: 0;
    line-height: 1em;
    grid-area: name;
    color: #253c66;
    font-weight: 500;
    padding: 2% 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    vertical-align: middle;
}

.faceWrapper{
    grid-area: myFace;
    /* vertical-align: bottom; */
    /* width: 50%; */
    margin:0 auto 20%;
    padding: 10%;
    position: justify;
    justify-content: space-between;
}
.myFace{
    width: 100%;
    border-radius: 15%;
    box-shadow: 2px 2px 2px 4px rgba(128, 128, 128, 0.589);
    align-self: center;
}

.description{
    grid-area: description;
    text-align: left;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 560px){

    .homepage{
        font-family: 'Libre Franklin', sans-serif;
        line-height: 1.5em;
        margin: 7% 14%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40% 1fr;
        grid-template-areas: 
                            "name myFace"
                            "description description";
    }

    .myFace{
        min-width: 70%;
        margin-bottom: 20%;
        margin-top: 0;
    }


    .name{
        text-align: left;
        /* font-size: 3rem; */
    }
}

@media screen and (min-width: 700px){
    .homepage{
        grid-template-rows: 50% 1fr;

    }
}


@media screen and (min-width: 930px){

    .homepage{
        font-family: 'Libre Franklin', sans-serif;
        line-height: 1.5em;
        margin: 7% 14%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45% 15% 1fr;
        grid-template-areas: 
                            ". myFace"
                            "name name"
                            "description description";
    }

    .myFace{
        min-width: 90%;
        /* margin-bottom: 20%; */
        margin-top: 0;
    }

    .name{
        text-align: center
    }
}