.mainResume{
    margin: 0 auto;
    width: 100vw;

}
.resume{
    width: 70%;
    height: auto;
    padding: 2% 10%;
    margin: 0 auto;
}
.introResume{
    margin: 2% 14%;
    color: rgb(255, 255, 255);
    font-family: 'Libre Franklin', sans-serif;

}
.button{
    margin: 0 14%;
    border-radius: 5px;
    box-shadow: 1px 2px grey;
    align-items: center;
    display: inline-block
}

.main>h1{
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}