.mainResume{
    margin: 0 auto;
}

/* .resume{
    width: 70%;
    margin: 0 auto;
} */

.introResume{
    /* margin: 2% 14%; */
    text-align: center;
    color: #253c66;
    font-family: 'Quicksand', sans-serif;

}
.button{
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px 2px grey;
    align-items: center;
    display: inline-block
}

.top{
    display: block;
    text-align: center;
}