.icons{
    height: 2.5em;
    align-items: center;
    margin: .5em auto;
    justify-content: space-evenly

}

.Footer {
    display: block;
    height: 5em;
    margin:  0 auto;   
    text-align: center;
}

@media screen and (min-width: 980px){
    .icons{
        height: 4em;
        margin: .5em;
    }
}