.App{
  height: 100%;
}

body{
  background-image: url(./images/valleyOfFire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 5%;
  position: relative;
}

nav{
  color: white;
  font-size: 2rem;
  text-align: right;
  padding: 2%;
}

a {
  color:rgb(255, 255, 255);
  margin: 0 3%;
  text-decoration: none;
}
nav>a:hover{
  color: rgb(130, 253, 212)
}
a:visited {
  color:rgb(255, 255, 255);
}

