.App{
  height: 100vh;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 4%;
  margin-bottom: 5em;
  background-color: #C8D4E9;
  background-image: linear-gradient(to  bottom , rgb(233, 235, 236), rgb(179, 193, 219), rgba(100, 1, 50, 0.986));
}
.main{
  height: 100vh;
  width: 90vw;
  margin: 0 1em;
  align-content: center;
}
nav{
  font-size: 1.2rem;
  text-align: center;
  padding: 2%;
  margin: 0 auto;
}

a {
  color: #253c66;
  margin: 0 1em;
  text-decoration: none;
  align-content: center;
}

nav>a:hover{
text-decoration: underline;
}

a:visited {
  color: #253148;
}

@media screen and (min-width: 720px){

}



@media screen and (min-width: 1080px){
  body{
    padding-bottom: 5%;
  }

  nav{
    color: #253c66;
    font-size: 2rem;
    text-align: center;
    padding: 2%;
  }
  
  a {
    color: #253c66;
    margin: 0 3%;
    text-decoration: none;
  }

  .main{
    width: 70vw;
    padding: 0 ;
    margin: 0 auto;
    align-content: center;
  }
}